.Form {
    border: none;
    box-shadow: 1px 3px 10px 1px  #7CA7CB;
  }
  
  .Button {
    border: none;
    background-color: #292A33;
    color: #7CA7CB;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #7CA7CB;
    color: #292A33;
  }