.App {

    background-color: #292A33;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #292A33;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #7CA7CB;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #292A33;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #7CA7CB;
  }